:root {
  background-image: url("images/car.jpg");
  background-size: cover;
  --backgroundColor: rgba(246, 241, 209);
  --colorShadeA: rgb(229, 229, 229);
  --colorShadeB: rgb(51, 92, 103);
  --colorShadeC: rgb(51, 92, 103);
  --colorShadeD: rgb(51, 92, 103);
  --colorShadeE: rgb(251, 175, 35);
} 

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: 'OpenSans', sans-serif;
  font-size: 1rem;
  line-height: 2;
  display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column;
  margin: 0;
  min-height: 100vh;
  
}
.title{
font-size: 2rem;
text-align: center;
border: 3px solid #faf2e7;
background: var(--colorShadeE);
color: #faf2e7;
border-radius: 1em;
width: 50%;

}
.title.pwd {
  width: unset;
}
.main {
  display: flex;
  height: 50vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border: 3px solid #faf2e7;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(109, 109, 109, 0.5 ) ;
  
}

input {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
    color:var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;

}

input.big-button {
   padding: 1em 2em;
   border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
transform-style: preserve-3d;
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
input.big-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
 transform: translate3d(0, 0.75em, -1em);
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


input.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

input.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
            transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);

      box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);

}

.vertical-line{
    display: inline-block;
    border-left: 3px solid #faf2e7;
    margin: 0 10px;
    height: 100%;
}

.btnExit {
  padding: 35px;
  display:block;
  background-color: var(--colorShadeE);
  color: white;
  text-align:center;
  position: absolute;
  height: 30px;
  top: 15px;
  right: 10px;
  background: url(images/logout.png);
  background-size: cover;
}

.btnOpt {
  padding: 35px;
  display:block;
  background-color: var(--colorShadeE);
  color: white;
  text-align:center;
  position: absolute;
  top: 10px;
  left: 10px;
  background: url(images/menu.png);
  background-size: cover;
}

/* The side navigation menu */
.sidenav {
  font-family: inherit;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav p {
  font-weight: bold;
  padding: 1px 1px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  text-align: center;
  border: 3px solid #faf2e7;
  background-color: rgba(109, 109, 109); 
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* input styles */

input.form{
  text-transform: none;
  cursor: text;
  color:black;
  font-size: 1.3rem;
  border-radius: 1em;
  text-align: center;
}

/* alert message box */
.alert {
  padding: 20px;
  background-color: var(--colorShadeE);
  color: white;
  font-size: 1.2rem;
    color:var(--colorShadeA);
  font-weight: 700;
  font-family: inherit;
  margin-bottom: 15px;
}

/* close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
} 