:root {
    background-image: url("images/login.jpg");
    background-size: cover;
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(229, 229, 229);
    --colorShadeB: rgb(51, 92, 103);
    --colorShadeC: rgb(51, 92, 103);
    --colorShadeD: rgb(51, 92, 103);
    --colorShadeE: rgb(251, 175, 35);
  } 
  
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: 'OpenSans', sans-serif;
    font-size: 1rem;
    line-height: 2;
    display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
    margin: 0;
    min-height: 100vh;

}

.main {
    height: 80vh;
    display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
    text-align: center;
    border: 3px solid #faf2e7;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    color: #faf2e7;
    background: rgba(109, 109, 109, 0.5 ) ;

}

.title{
    font-size: 2rem;
    text-align: center;
    border: 3px solid #faf2e7;
    background: var(--colorShadeE);
    color: #faf2e7;
    border-radius: 1em;
    }

input {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5rem;
        color:var(--colorShadeA);
    font-weight: 700;
    font-family: inherit;

}
/* input styles */

input.form{
    cursor: text;
    color:black;
    font-size: 1.3rem;
    border-radius: 1em;
    text-align: center;
  }
  input.file{
    background:var(--colorShadeA);
    color: black;
    border-radius: 1em;
    font-size: 1rem;
     
  }

/* input button animations */
input.big-button {
    padding: 1em 2em;
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
input.big-button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
        box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
    transform: translate3d(0, 0.75em, -1em);
        transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


input.big-button:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
}

input.big-button:hover::before {
    transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
            transform: translate(0em, 0.75em);
}

button.big-button:active::before {
transform: translate3d(0, 0, -1em);

    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);

}


/* Styles for registration popup */

.regForm {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .reg-content {
    text-align: center;
    border: 3px solid #faf2e7;
    background-color: rgba(109, 109, 109) ;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  .gridC{
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
  }
  .itemHr{
    grid-column-start: 1;
    grid-column-end: 3;
  }