:root {
  --backgroundColor: rgba(246, 241, 209);
  --colorShadeA: rgb(229, 229, 229);
  --colorShadeB: rgb(51, 92, 103);
  --colorShadeC: rgb(51, 92, 103);
  --colorShadeD: rgb(51, 92, 103);
  --colorShadeE: rgb(251, 175, 35);
} 

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}
body {
  background-image: url("images/park2.jpeg");
  background-position: center; 
  background-size: cover;
  font-family: 'OpenSans', sans-serif;
  font-size: 1rem;
  line-height: 2;
  display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column;
  margin: 0;
  min-height: 100vh;
}
.main {
  display: flex;
  height: 70vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border: 3px solid #faf2e7;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-size: 1.3rem;
  color: #faf2e7;
  background: rgba(109, 109, 109, 0.5 ) ;
}
.gridC{
  display: grid;
  grid-template-columns: auto ;
  grid-column-gap: 10px;
}
.gridS{
  display: grid;
  grid-template-columns: auto auto ;
  grid-column-gap: 10px;
}
.itemHr{
  grid-column-start: 1;
  grid-column-end: 3;
}
/* input styles */
input {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
    color:var(--colorShadeA);
  font-weight: 700;
  font-family: inherit;

}

input.form{
  cursor: text;
  color:black;
  font-size: 1.3rem;
  border-radius: 1em;
  text-align: center;
}
/* input button animations */

input.big-button {
   padding: 1em 2em;
   border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
transform-style: preserve-3d;
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
input.big-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
 transform: translate3d(0, 0.75em, -1em);
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


input.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

input.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
            transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);
  
      box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);

}
 /* alert message box */
.alert {
  padding: 20px;
  background-color: var(--colorShadeE);
  color: white;
  font-size: 1.5rem;
    color:var(--colorShadeA);
  font-weight: 700;
  font-family: inherit;
  margin-bottom: 15px;
}

/* close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
} 

.btnHome {
  padding: 30px;
  display:block;
  background-color: var(--colorShadeE);
  color: white;
  text-align:center;
  position: absolute;
  top: 10px;
  left: 10px;
  background: url(images/home.png);
  background-size: cover;
}

.vertical-line{
    display: inline-block;
    border-left: 3px solid #faf2e7;
    margin: 0 10px;
    height: 100%;
}